USE [master]
GO
/****** Object:  Database [QLGC]    Script Date: 4/10/2022 7:01:06 PM ******/
CREATE DATABASE [QLGC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLGC', FILENAME = N'D:\SQLSERVER\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLGC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLGC_log', FILENAME = N'D:\SQLSERVER\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLGC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLGC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLGC]
GO
/****** Object:  Table [dbo].[Breeding]    Script Date: 4/10/2022 7:01:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Breeding](
	[BreedId] [int] IDENTITY(2000,1) NOT NULL,
	[BreedDate] [date] NOT NULL,
	[DogId] [int] NOT NULL,
	[DogName] [varchar](50) NOT NULL,
	[PregDate] [date] NOT NULL,
	[DateBorned] [date] NOT NULL,
	[DogAge] [int] NOT NULL,
	[Remarks] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Breeding__D1E9AE9D5C151506] PRIMARY KEY CLUSTERED 
(
	[BreedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Dog]    Script Date: 4/10/2022 7:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dog](
	[DogId] [int] IDENTITY(100,1) NOT NULL,
	[DogName] [nvarchar](50) NOT NULL,
	[Color] [nvarchar](50) NOT NULL,
	[Breed] [nvarchar](50) NOT NULL,
	[Age] [int] NOT NULL,
	[Wei] [int] NOT NULL,
	[Cost] [float] NULL,
 CONSTRAINT [PK__Dog__46F46EE93BBEBFA7] PRIMARY KEY CLUSTERED 
(
	[DogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 4/10/2022 7:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmpId] [int] IDENTITY(300,1) NOT NULL,
	[EmpName] [nvarchar](50) NOT NULL,
	[EmpDob] [date] NOT NULL,
	[Gender] [nvarchar](50) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Employee__AF2DBB992B1D0A55] PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Health]    Script Date: 4/10/2022 7:01:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Health](
	[ReportId] [int] IDENTITY(500,1) NOT NULL,
	[DogId] [int] NOT NULL,
	[DogName] [varchar](50) NOT NULL,
	[ReportDate] [date] NOT NULL,
	[Event] [nvarchar](50) NOT NULL,
	[Diagnosis] [nvarchar](50) NOT NULL,
	[Cost] [varchar](50) NOT NULL,
	[Vetname] [nvarchar](50) NOT NULL,
	[Treatment] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Health__D5BD48057BD39E97] PRIMARY KEY CLUSTERED 
(
	[ReportId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Dog] ON 

INSERT [dbo].[Dog] ([DogId], [DogName], [Color], [Breed], [Age], [Wei], [Cost]) VALUES (121, N'Belarus', N'White', N'chó chăn cừu Trung Á', 8, 30, 20000000)
INSERT [dbo].[Dog] ([DogId], [DogName], [Color], [Breed], [Age], [Wei], [Cost]) VALUES (122, N'Chó Alaska', N'Black', N'giống chó lai', 9, 31, 25000000)
INSERT [dbo].[Dog] ([DogId], [DogName], [Color], [Breed], [Age], [Wei], [Cost]) VALUES (123, N'Chó ngao Anh', N'Brown', N'giống chó Anh', 10, 35, 30000000)
SET IDENTITY_INSERT [dbo].[Dog] OFF
GO
SET IDENTITY_INSERT [dbo].[Health] ON 

INSERT [dbo].[Health] ([ReportId], [DogId], [DogName], [ReportDate], [Event], [Diagnosis], [Cost], [Vetname], [Treatment]) VALUES (502, 136, N'Chó ngao Tây Ban Nha', CAST(N'2022-04-10' AS Date), N'Tắm mưa', N'Sốt nhẹ', N'250000', N'Hường', N'Uống thuốc')
SET IDENTITY_INSERT [dbo].[Health] OFF
GO
USE [master]
GO
